*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
  background-color: #f1f5f8;
}
nav{
  display: flex;
  position: fixed;
  background-color: #f1f5f8;
  width: 100%;
  justify-content: space-around;
  height: 8vh;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);

}
nav ul{
  display: flex;
}
nav ul li{
  list-style-type: none;
  margin-left: 20px;
  margin-top: .8rem;
  color: rgb(39, 38, 38);
}
nav ul li:hover{
  cursor: pointer;
  text-decoration: underline;
}
nav h2{
  margin-top: 0.5rem;
  color: rgb(23, 168, 168);
}
main{
  padding: 20% 23%;
}
main div{
  background-color: black;
  width: 100%;
}
.divelement{
  padding: 10px;
  color: white;
}
.spancode{
  color: rgb(23, 168, 168);
}
.btn{
  margin-left: 40%;
  margin-top: 1rem;
  padding: .8rem 2rem;
  font-size: 1rem;
  border-radius: .5rem;
  border: solid black;
  
}
.btn:hover{
  background-color: rgb(78, 74, 74);
  color: #f1f5f8;
  cursor: pointer;
}
